@import "../../styles/variables";

.main {
    width: 100%;
    height: 100%;
    padding: 100px 0 30px;
    position: relative;
    &-image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }
    &-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &-header {
            text-align: center;
            font-size: 60px;
            color: white;
        }
        &-button {
            background-color: grey !important;
        }
    }
}
